<!doctype html>
<html lang="en" ng-app="agileCookbookApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta name="author" content="Josh Carrier">

    <title>Agile Cookbook</title>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <style>
            .strong {
                font-weight: 700;
        }
    </style>

    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.1.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.2.0/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular-animate.min.js"></script>

    <script>
        var agileCookbookApp = angular.module('agileCookbookApp', [])
            .config(function($sceProvider) {
                  // Completely disable SCE.  For demonstration purposes only!
                  // Do not use in new projects.
                  $sceProvider.enabled(false);
        });

        agileCookbookApp.controller('RecipeCtrl', function ($scope) {
            $scope.sections = [
            {
                'name': 'Formation',
                'settings': [
                    {
                        'name': 'Selection',
                        'help': 'How should the team form?',
                        'values': [
                            {
                                'name': 'Dynamic self-selection',
                                'help': '"We learned that people will move in groups and will tend to follow their friends – even when they could be a better fit in another team. However, we also learned that people are generally willing to separate out if they’re given the space to communicate freely." - <a href="http://www.andykelk.net/agile/empowering-self-organising-teams-with-self-selection">Andy Kelk</a>'
                            },
                            {
                                'name': 'Statically assigned',
                                'help': 'Keeping the same team together reduces setbacks/resets in the <a href="http://www.pmhut.com/the-five-stages-of-project-team-development">Tuckman stages of project team development</a>. It requires additional management to solve changes in staffing and people incompatibility.'
                            }
                        ]
                    },
                    {
                        'name': 'Team size',
                        'help': 'How big should the immediate team be?',
                        'values': [
                            {
                                'name': 'Small (2 - 10)',
                                'help': 'Yammer follows a 2 to 10 people model, which supports a balance between specialization and new growth - <a href="http://pando.com/2013/02/28/why-yammer-believes-the-traditional-engineering-organizational-structure-is-dead/">Why Yammer believes the traditional engineering organizational structure is dead</a>.'
                            },
                            {
                                'name': 'Larger',
                                'help': 'The number of social interactions grows exponentially per person, until communication cost become extremely high and average social bonds are weak, as defined by <a href="http://en.wikipedia.org/wiki/Dunbar\'s_number">Dunbar\'s number</a>.'
                            }
                        ]
                    },
                    {
                        'name': 'Engineering Culture',
                        'help': 'How important of a topic is it?',
                        'values': [
                            {
                                'name': 'Simon Sinek',
                                'help': '<a href="https://www.youtube.com/watch?v=ReRcHdeUG9Y">Why Leaders Eat Last</a>.'
                            },
                            {
                                'name': 'Spotify',
                                'help': '<a href="http://labs.spotify.com/2014/03/27/spotify-engineering-culture-part-1/">Spotify Engineering Culture part 1</a>.'
                            },
                            {
                                'name': 'Team Geek',
                                'help': '<a href="http://www.amazon.com/gp/product/1449302440/">A Software Developer\'s Guide to Working Well with Others</a>.'
                            }
                        ]
                    }
                ]
            },
            {
                'name': 'Communication',
                'settings': [
                    {
                        'name': 'Channels',
                        'help': 'What\'s the best way to communicate?',
                        'values': [
                            {
                                'name': 'Synchronous',
                                'help': 'This is the description <a href="http://bing.com">Test</a>'
                            },
                            {
                                'name': 'Asynchronous',
                                'help': 'This is another description <a href="http://bing.com">Test</a>'
                            }
                        ]
                    },
                    {
                        'name': 'Seating Arrangement',
                        'help': 'How should the team be located?',
                        'values': [
                            {
                                'name': 'Individual offices',
                                'help': 'This is the description <a href="http://bing.com">Test</a>'
                            },
                            {
                                'name': 'Neighborhoods',
                                'help': 'This is another description <a href="http://bing.com">Test</a>'
                            },
                            {
                                'name': 'Open',
                                'help': 'This is another description <a href="http://bing.com">Test</a>'
                            }
                        ]
                    }
                ]
            },
            {
                'name': 'Planning',
                'settings': [
                    {
                        'name': 'Cost estimation',
                        'help': 'How should the team track its velocity?',
                        'values': [
                            {
                                'name': '#NoEstimates',
                                'help': 'A focus on smaller increments and alternate tools to estimation exercises. <a href="http://neilkillick.com/2013/01/31/noestimates-part-1-doing-scrum-without-estimates/">Doing Scrum Without Estimates</a>.'
                            },
                            {
                                'name': 'Story points',
                                'help': 'This is another description <a href="http://bing.com">Test</a>'
                            },
                            {
                                'name': 'Hours/work days',
                                'help': 'This is another description <a href="http://bing.com">Test</a>'
                            }
                        ]
                    }
                ]
            },
            {
                'name': 'Scrum',
                'settings': [
                    {
                        'name': 'Stand up frequency',
                        'help': 'How often should the team hold stand up?',
                        'values': [
                            {
                                'name': 'Never',
                                'help': 'This is the description <a href="http://bing.com">Test</a>'
                            },
                            {
                                'name': 'Limited',
                                'help': 'This is another description <a href="http://bing.com">Test</a>'
                            },
                            {
                                'name': 'Every day',
                                'help': 'This is another description <a href="http://bing.com">Test</a>'
                            }
                        ]
                    }
                ]
            }
          ];

          $scope.setSelected = function(setting, value) {
              setting.selectedValue = value;
          };
        });
    </script>
</head>
<body ng-controller="RecipeCtrl">

    <div class="container">
        <div class="row">
            <h1>Agile Cookbook <small>AN INTERACTIVE GUIDE</small></h1>
            <br/>
        </div>
        <div ng-repeat="section in sections" class="panel panel-default">
            <div class="panel-heading">
                <h3>{{section.name}}<h3>
            </div>
            <ul class="list-group">
                <li ng-repeat="setting in section.settings" class="list-group-item">
                    <div class="row">
                        <div class="col-sm-4">
                            <h4>{{setting.name}}</h4>
                        </div>
                        <div class="col-sm-8 hidden-print">
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-default" ng-repeat="settingValue in setting.values" ng-click="setSelected(setting, settingValue)">
                                    <input type="radio"
                                            name="{{setting.name}}"
                                            id="{{settingValue.name}}"/>&nbsp;&nbsp;{{settingValue.name}}&nbsp;&nbsp;&nbsp;&nbsp;
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <span class="help-block">{{setting.help}}</span>
                        </div>
                        <div class="col-sm-8">
                            <div class="help-block" ng-repeat="settingValue in setting.values" ng-class="settingValue == setting.selectedValue ? 'show' : 'visible-print-block'">
                                <strong>{{settingValue.name}}</strong> - <span ng-bind-html="settingValue.help" />
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <footer style="width:100%;">
        <div class="text-center" style="width: 100%; padding-left: 10px; color: #999999;text-transform:none;text-shadow:none">
            &copy; 2014 <a href="http://joshjcarrier.com">Josh Carrier</a>. Fork on <a href="https://github.com/joshjcarrier/agilecookbook">GitHub</a> &middot;
            <small>Made possible with <a href="http://angularjs.org/">AngularJS</a> and <a href="http://getbootstrap.com/">Bootstrap</a> &middot; <a href="license-ext.txt">Open source licenses</a></small>
        </div>
    </footer>
</body>
</html>
